@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lora:ital,wght@1,500&family=Roboto+Slab:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main{
    height: 100vh;
    width: 100%;
    background-image: url("https://64.media.tumblr.com/4d9e4f1e49dc4210c2c65c1065ef0685/tumblr_inline_o29dtaXWxz1rtb73a_1280.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    background-position: center;
}
nav{
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 2em;
    color: white;
    padding-top: 10px;
    padding-left: 61%;
}
nav .logo{
    margin-left: -1161px;
    cursor: pointer;
    color: white;
}
.menu{
    margin-left: 700px ;
    margin-top: 5px;
}
.menu a{   
    border: 2px solid transparent;
    border-radius: 7px;
    text-decoration: none;
    position: relative;
    margin-left: 50px;
}
.menu a:hover{
    background-color: black;
    color: beige;
}
.login{
    border: 2px solid transparent;
    border-radius: 7px;
    text-decoration: none;
    position: relative;
    margin-right: 30px;
}
.login:hover{
    background-color: black;
}
.image{
    position: fixed;
    margin-left: 7px;
    margin-top: 75px;

}
.about{
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    margin-top: 200px;

}